.body{
    background-color: rgb(13, 15, 43);
    font-family: Helvetica, sans-serif; 
    position: absolute;
    margin: 0; 
    height: 100vh; 
}

.titletext{
    font-family: roboto, sans-serif;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    color: aliceblue;
    font-feature-settings: "abvm";
}


.bottom-navbar {
    background-color: rgb(11, 13, 34);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1; 
}

.bottom-navbar a {
    float: left;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 2.75vh 2vh;
    text-decoration: none;
    font-size: 2vh;
}

  
.bottom-navbar a:hover {
  background-color: aliceblue;
  color: black;
}

.bottom-navbar a.active {
  background-color: rgb(94, 69, 41);
  color: white;
}

#logo {
    width: 16vh; 
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    bottom: 0; 
    height: auto;
    z-index: 2; 
}

#map-container {
    position: absolute;
    text-align: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 7vh;
}

#map {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateX(-50% 50%); 
    user-select: none;

}




.marker {
    position: absolute;
    width: 20px; /* tai sopiva koko */
    height: 20px; /* tai sopiva koko */
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%); /* Keskitä markkeri sen koordinaatteihin */
    fill: red; /* SVG-täplien väri */

}
