body {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#pinta {
  height: 7vw;
  width: 7vw;
  border: 0px solid rgb(62, 144, 158);
  border-radius: 50%;
  box-shadow: 0 0 5vw rgb(0, 0, 0); 
  background-color: rgb(57, 132, 145);
  transition: background-color 0.3s, transform 0.3s;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
}

a:hover #pinta {
  background-color: rgb(255, 255, 255);
}

#fire {
  position: absolute;
  top: 50%;
  left: 100%;
  height: 3vw; 
  width: 3vw; 
  margin-left: -1.5vw; 
  margin-top: -1.5vw;
  border-radius: 50%;
  background-color: #ff4800;
  transition: background-color 0.3s, transform 0,3;
}

a:hover #fire {
  background-color: rgb(243, 194, 0);
}


#water {
  position: absolute;
  top: 100%;
  left: 50%;
  height: 3vw; 
  width: 3vw; 
  margin-left: -1.5vw; 
  margin-top: -1.5vw;
  border-radius: 50%;
  background-color: #0066ff;
  transition: backgorund-color 0.3s, transform 0.3s;
  
}

a:hover #water{
  background-color: lightblue;
}

#earth {
  position: absolute;
  top: 50%;
  left: 0%;
  height: 3vw; 
  width: 3vw; 
  margin-left: -1.5vw; 
  margin-top: -1.5vw;
  border-radius: 50%;
  background-color: #915e32;
  transition: background-color 0.3s, transform 0.3s; 
}

a:hover #earth{
  background-color: rgb(178, 173, 173);
}

#air {
  position: absolute;
  top:  0%;
  left: 50%;
  height: 3vw; 
  width: 3vw; 
  margin-left: -1.5vw; 
  margin-top: -1.5vw;
  border-radius: 50%;
  background-color: #bdd7ff;
  transition: backgorund-color 0.3s, tranform 0.3s;
}

a:hover #air{
  background-color: white;
}

#elemental-orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30vw; 
  height: 30vw;
  margin-top: -15vw; 
  margin-left: -15vw; 
  border-width: 0.2vw;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  animation: spin-right 65s linear infinite;
}

#ulottovuus2 {
  position: absolute;
  top: 0;
  left: 50%;
  height: 2vw;
  width: 2vw; 
  margin-left: -1vw;
  margin-top: -1vw; 
  border-radius: 50%;
  background-color: #ffffff;
}

#ulottovuus2-orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15vw; 
  height: 15vw;
  margin-top: -7.5vw;
  margin-left: -7.5vw; 
  border-width: 0.2vw;
  border-style: dotted;
  border-color: white;
  border-radius: 50%;
  animation: spin-left 50s linear infinite;
}

#ulottovuus3 {
  position: absolute;
  top: 0;
  left: 50%;
  height: 3vw; 
  width: 3vw; 
  margin-left: -1.5vw;
  margin-top: -1.5vw; 
  border-radius: 50%;
  background-color: #ffffff;
}

#ulottovuus3-orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21vw;
  height: 21vw;
  margin-top: -10.5vw; 
  margin-left: -10.5vw;
  border-width: 0.2vw;
  border-style: dotted;
  border-color: white;
  border-radius: 50%;
  animation: spin-right 100s linear infinite;
}

@keyframes spin-right {
  100% {
      transform: rotate(360deg);
  }
}

@keyframes spin-left {
  100% {
      transform: rotate(-360deg);
  }
}
