
body {
    font-family: Helvetica, sans-serif;
    color: rgb(238, 237, 228);
    font-size: 125%;
    background-color: rgb(54, 45, 37);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-image: url("taustakuva.png");
    background-blend-mode: overlay;*/
}
.topbar {
    color: rgb(48, 7, 7);
    text-align: center; /* */
    margin-top: 2%;
}
.home-image{
    width: 5vw; 
    height: auto; 
}
.container {
    background-color: rgba(6, 9, 39, 0.95);
    width: 54%;
    margin: auto; 
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 8%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title{
    font-size: 2.5em;
    color: rgb(238, 237, 228);
    margin-bottom: 8%;
    font-family: sans-serif, Verdana;

}
.subhead{
    font-size: 1.5em;
    color: rgb(238, 237, 228);
    font-family: sans-serif, Verdana;
}
.small_subhead{
    font-size: 1.1em;
    color: rgb(238, 237, 228);
    font-family: sans-serif, Verdana;
    padding-top: 2%;
}
.content{  
    font-size: 0.9em;
    color: rgb(238, 237, 228);   
    padding-right: 5%;
}
.link{
    color: rgb(255, 209, 5);
    transition: color 0.4s;
    text-decoration: none;
}
.link:hover{
    color: rgb(255, 246, 169);
}
.quote{
    color: rgb(238, 237, 228);
    font-family: sans-serif, Verdana;
    font-size: 0.8em;
}
.quote-mark::before {
    font-weight: bold;
    content: '"';
    color: rgb(255, 209, 5);
    font-weight: bold; 
    font-size: inherit; 
}
.top-image{
    float: right;
    width: 20vw;
    margin-right: 6%;
    margin-left: 1%;
    border-style: solid;
    border-color: rgb(226, 226, 226);
    border-width: 2px;
    background-color: rgba(22, 41, 29, 0.4);
    padding: 1%;
}
.middle-image{
    float: right;
    width: 20vw;
    margin: auto;
}
.bottom-box{
    float:right;
    width: 20vw;
    margin-right: 6%;
    margin-left: 1.5%;
    margin-bottom: 1%;
    border-style: solid;
    border-color: rgb(226, 226, 226);
    border-width: 2px;
    background-color: rgb(22, 41, 29, 0.4);
    clear: both;
    padding: 1%;
    font-size: 0.8em;
    margin-top: 2%;
}
.caption{
    float:right;
    width: 20vw;
    margin-right: 6%;
    margin-left: 1.5%;
    border-style: solid;
    border-color: rgb(226, 226, 226);
    border-width: 2px;
    background-color: rgb(22, 41, 29, 0.4);
    clear: both;
    padding: 1%;
    font-size: 0.8em;
}
.center-container {
    text-align: left; 
    width: 100%; 
    margin-bottom: 2%;
    font-weight: bold;
    
}
.center-title{
    font-size: 0.95em;
    padding-top: 2%;
}

.bottom-box-hr {
    display: block;
    border-top: 2px solid rgb(255, 209, 5);
    margin:  auto;
    margin-top: 2%; 
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    margin-right: 6%;
}

.table-of-contents-link{
    text-decoration: none;
    color: rgb(205, 207, 66);
}

.flagg-image{ /*esim sotien kuvauksissa, pieni fontin kokoinnen lippukuva joka asetetaan nimen eteen*/
    width: 1.2em;
    height: auto;
    vertical-align: middle;
}


.titletext {
    font-family: roboto, sans-serif;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    color: aliceblue;
}









.bottom-navbar {
    background-color: rgb(19, 21, 44);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-navbar a {
    float: left;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 2.75vh 2vh;
    text-decoration: none;
    font-size: 2vh;
}

.bottom-navbar a:hover {
    background-color: aliceblue;
    color: black;
}

.bottom-navbar a.active {
    background-color: rgb(94, 69, 41);
    color: white;
}

#logo {
    width: 16vh; 
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    bottom: 0; 
    height: auto;
    z-index: 2; 
}

#map-container {
    position: absolute;
    text-align: center;
    height: auto;
}

#map {
    height: auto;
    object-fit: cover;
    transform: translateX(-50% 50%); 
    user-select: none;
}

#search-bar {
    display: flex;
    margin-left: auto;
    padding-right: 0.5vh;
}

#search-input {
    padding: 1.75vh;
    font-size: 2vh;
    background-color: rgb(255, 255, 255);
    border: 0;
}

button {
    color: white;
    padding: 1.75vh 1.5vh;
    font-size: 2vh;
    background-color: rgb(94, 69, 41);
    border:0;
    cursor: pointer;
}

